/* Import Font With GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@500&display=swap');

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-image-container {
    text-align: center;
  }
  
  .hero-image {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .hero-image {
      display: none;
    }
  }
  